[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.core" = "==1.181.0"
"aws-cdk.aws-rds" = "==1.181.0"
"aws-cdk.aws-ec2" = "==1.181.0"
"aws-cdk.aws-ecs" = "==1.181.0"
"aws-cdk.aws-ecr-assets" = "==1.181.0"
pytest = "==7.2.0"

[dev-packages]

[requires]
python_version = "3.9"
