FROM nginx:1.21.0-alpine@sha256:85703b43b225d57d2015bc44e66880f2ed2d91df79373045d810b024a05a808d

ARG upstream_wordpress_php=localhost

COPY ./nginx/conf.d/http.conf /etc/nginx/conf.d/default.conf

RUN echo -e "upstream wordpress_php {\n  server $upstream_wordpress_php:9000;\n}\n" \
    > /etc/nginx/conf.d/upstream.conf
